* {
  color: seashell;
  margin: 0;
}

body {
  font-size: 22px;
  font-family: Roboto, sans-serif;
  background-color: #000;
  font-weight: 500;
  opacity: .9;
}


.header {
  position: fixed;
  display: flex;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #000;
}

.logo {
  font-family: "Dancing Script";
  font-size: 50px;
  margin-left: 10px;
  width: 50%;
}

.logo a {
  text-decoration: none;
}

nav ul {
  margin-right: 10px;
}

nav li {
  display: inline;
  margin-right: 15px;
}

a:hover {
  color: lightgray;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mission {
  background-image: url("background.png");
  background-size: cover;
  height: 700px;
  text-align: center;
  display: flex;
  margin-top: 69px;
  max-width: 1200px;
  align-items: center;
  width: 100%;
  opacity: .9;
}

.missionStatement {
  background-color: #000;
  width: 100%;
}

.missionStatement h2,h4 {
  padding: 10px 0 0 0 ;
}

h2, h4 {
  padding: 15px 40px;
}

.teaSection {
  text-align: center;
  margin-top: 80px;
}

.teas {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.teaCard img{
  height: 200px;
  width: 300px;
  margin: 10px 12px;
}

.teaCard h4 {
  margin: 0 12px 10px 12px;
  padding: 0;
}

.storeSection {
  margin-top: 60px;
  background-image: url("locationsBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1200px;
  min-height: 500px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 70px; 
}

.storeLocations {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin-right: 50px;
}


.storeCard {
  width: 100%;
  max-width: 300px;
  min-width: 250px;
  max-height: 300px;
  min-height: 275px;
  color: white;
  background-color: #000;
  margin: 15px 0 10px 40px;
  line-height: 2.9;
  font-weight: 500;
}

.storeSection h2 {
  padding: 0;
}

.bolderText {
  font-weight: 900;
}
.infoContainer {
  text-align: center;
  margin-bottom: 60px;
}

.infoContainer h5 {
  margin-top: 25px;
}

footer {
  margin: 30px 20px;
}



/* NOTES */

  /* position: fixed; Must have width to work */
